* {

    margin: 0;
    padding: 0;

}

menu {

    background-color: rgb(245, 241, 241);
    width: 100%;
    height: 100px;


}

.menu-up {

    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;

}

.menu-down {
    height: 10%;
    border: 2px solid #7adbdd;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 15px;

}

.menu-izquierda {

    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1x;

}

.menu-izquierda a {

    text-decoration: none;
    color: #716f6f;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: bold;
    height: 5px;
    letter-spacing: 1px;
    white-space: nowrap;
    line-height: 10px;
    cursor: pointer;
    padding: 25px;
}

.menu-izquierda a:hover {
    color: rgb(13, 12, 12);
}

.menu-derecha {

    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 8px;

}

.menu-derecha a {
    margin-left: 16px;

}

.menu-derecha a:hover {
    transform: scale(1.05);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main-accordion-container {

    background-color: white;
    width: 100%;
    /* O ajusta según sea necesario */
    max-width: 400px;
    /* Ajusta el ancho máximo según sea necesario */
    margin-top: 30px;
    padding: 25px;
    padding-right: 5%;


}


.accordion-item {

    width: 130%;
    display: flex;
    flex-direction: column;


    height: 140px;
    border-radius: 10px;/* Ajusta el valor  */
    overflow: hidden;/* Evita que el contenido no sobresalga de los bordes redondeados */
   
    margin: 35px;/* Espacio entre los acordeones*/
    box-shadow: 3px 3px 8px 0 rgb(20, 21, 21);
}

.accordion-item:hover {
    transform: scale(0.95);
    border: 1px black;
}

.accordion-title {
    width: 100%;
    background-color: rgb(173, 234, 234);
    height: 200px;
    color: rgb(14, 13, 13);
    font-family: 'Arial Narrow Bold';
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.accordion-desc {
    display: none;
    color: #7a7f80;
    letter-spacing: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
}

.accordion-title .tab-active {
    font-size: 100px;
    pointer-events: visible;
}

.tab-active .accordion-desc {
    width: 100%;
    background-color: white;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px 0;

}

.card-list {

    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;/* Alinea las tarjetas a la derecha */
    align-items: flex-start;/* Alinea las tarjetas en la parte superior */
    margin-left: 6%;
}

.card-item {

    border: 1px solid rgb(196, 209, 209);
    width: 45%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 29px;
    box-shadow: 3px 3px 8px 0 rgb(21, 22, 22);
}

.card-item:hover {
    transform: scale(1.01) translateY(-3px);
}

.card-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-info {
    height: auto;
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.card-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #5d5e5f;
    font-weight: bold;
    font-family: 'Arial Narrow Bold';
    margin-bottom: 20px;
}

.card-desc {
    font-size: 15px;
    text-align: justify;
    margin-bottom: 15px;
    color: #5d5e5f;
}

.card-cta {
    width: 120px;
    text-decoration: none;
    color: rgb(240, 241, 250);
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(77, 167, 167);
}

.card-cta:hover {
    transform: scale(1.01)translateY(2px)translateY(-2px);
}

.carrusel {
    width: 50%;
    /* O cualquier otro valor que desees */
    max-width: 350px;
    /* Por ejemplo, un ancho máximo */
    margin: 10px auto;
    /* Centra el carrusel */

    overflow: hidden;
    /* Oculta el contenido que se desborda */
    position: relative;
    /* Para posicionar elementos hijos si es necesario */
}

.carrusel .grande {
    display: flex;
    transition: transform 0.8s ease;
    margin-top: 15%;
    width: 100%;
}

.carrusel .img {
    height: 90%;
    /* Ajusta según necesites */
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
}


.carrusel .puntos {
    display: flex;
    /* Usar flexbox para alinear los puntos */
    justify-content: center;
    /* Centra los puntos horizontalmente */
    margin-top: 45px;
    /* Espacio entre el carrusel y los puntos */
    padding: 0;
    /* Elimina el padding por defecto */
    list-style: none;
    /* Elimina los puntos de la lista */

}

.carrusel .punto {
    width: 14px;
    height: 14px;
    background-color: transparent;
    /* Cambia a transparente si no quieres color */
    border: 2px solid rgb(21, 20, 21);
    /* Agrega un borde si deseas que sean visibles */
    border-radius: 50%;
    /* Hace que los puntos sean circulares */
    margin: 0 7px;
    /* Espacio entre los puntos */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el punto */


}

.carrusel .punto.activo {
    background-color: rgb(65, 168, 168);
    /* Color de fondo para el punto activo */

}

.wrap {
    font-family: 'Arial Narrow Bold';
    font-size: 20px;
    letter-spacing: 2px;
    color: #14d0d0;
    padding: 10px;
    margin: 30px;
    text-align: center;
    margin-top: 40px;
}

.texto{
    text-align: start;
    margin-top: 50px;
    font-family: 'Arial Narrow Bold';
    color:black;
    font-size: 14px;
    letter-spacing: 2px;
}

footer {
    
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
}